footer {
    background-color: black;
}

.centring {
    margin: 0 auto;
    width: 940px;
}

.top_of_selling {
    padding-top: 90px;
    color: var(--white, #FFF);
    font-family: Russo One;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.top_stickers {
    width: 100%;
    height: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: space-between;
    grid-template-rows: 160px 160px 160px;
    padding-bottom: 80px;
}



.sticker {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    margin-bottom: 20px;
}

.sticker_info {
    display: grid;
    align-items: center;
    margin-left: 20px;
    
}

.user_name {
    color: var(--black, #07060B);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.sticker_title {
    color: var(--black, #07060B);
    font-family: Muller;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image {
    width: 100px;
    height: 100%;
    background: var(--grey_light, #EDEDF2);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.image > img {
    width: 90px;
    margin-left: 10px;
}

.user_nick {
    height: 30px;
    vertical-align: text-top;
}

.user_photo_and_nick {
    display: grid;
    grid-template-columns: 30px 100px;
    vertical-align: middle;
    grid-template-rows: 20px;
    align-items: center;
}

.price_ {
    color: #95959D;
}



.end_of_footer {
    height: 250px;
    background: var(--gray_deep, #37373E);
}

.end_of_footer_space_between {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 400px 460px;
    align-items: center;
    height: 250px;
}
.to_be_top > div {
    display: grid;
    grid-template-columns: 50px 400px;
    padding-bottom: 15px;
}

.to_be_top > div > p {
    margin: 0px;
    padding: 0px;
}

.smiles {
    display: flex;
    justify-content: right;
}

.smiles > img {
    width: 350px;

}

.to_be_top > h1 {
    color: var(--white, #FFF);
    font-family: Muller;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.to_be_top > div > p {
    color: var(--white, #FFF);
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Aura_blue {
    background: var(--primary, #46F4DB);
    height: 100px;
    display: grid;
    align-items: center;
}

.Aura_blue > div {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.Aura_blue_buttons {
    display: grid;
    grid-template-columns: auto auto auto ;
}

.Aura_blue_buttons > p {
    padding: 0px;
}

.black_date {
    width: 100%;
    height: 30px;
    background-color: #07060B;
    text-align: center;
    vertical-align: middle;
    display: grid;
    align-items: center;
}

.black_date > p {
    padding: 0px;
    color: var(--grey_light, #EDEDF2);
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}