.header {
    width: 100%;
    height: 80px;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.menu { 
    display: flex;
    gap: 0 32px;
    margin-right: 280px;
}
.btn__buy {
    display: flex;
    width: 100px;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    border-radius: 77px;
    color: white;
    background: var(--black, #07060B);
}
.header a {
    text-decoration: none;
}
.btn__buy:hover { 
    opacity: 1;
    background-color: white;
    color: black;
    transform: scale(1.07);
}
.menu li a { 
    color: black;
}
.menu li:hover { 
    opacity: 1;
    transform: scale(1.07);
}
.menu li a:hover { 
    color: red;
}
