.head { 
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
}
.Logo { 
    width: 80px;
    height: 30px;
    margin-left: 320px;
    margin-top: 15px;
}
.author_collection_services{
    padding-left: 70px;
    margin-top: 10px;
    display: flex; 
    text-decoration: none;
    grid: gap;
    justify-content: space-around;
}
.Menu { 
    justify-content: space-around;   
}
