.navbar {
    width: 100%;
    height: 80px;
}
.navbar .container {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.logo { 
    width: 100px;
    height: 40px;
    margin-left: 200px;
    margin-top: 20px;
}
.navbar-menu { 
    margin-right: 180px;
    margin-top: 20px;

}
.navbar-menu li { 
    display: inline-block;
}
.navbar-menu li a { 
    display: inline-block;
    margin-right: 35px;
    text-decoration: none;
    color: black;
}
.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}
.PAY { 
display: flex;
width: 100px;
padding: 10px 35px;
justify-content: center;
align-items: center;
border-radius: 77px;
color: white;
background: var(--black, #07060B);
margin-right: 130px;
margin-top: 15px;
}
.navbar-menu li a:hover { 
    opacity: 1;
    color: red;
    transform: scale(1.04);
}
.PAY:hover { 
    opacity: 1;
    background-color: white;
    color: black;
    transform: scale(1.07);
}

ul {
    display: flex;
}