.block_1 {
    background-color: black;
    color: white;
    height: 500px;
}
.text_1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 105px;
    font-weight: 900;
    padding-top: 50px;
}
.stiker {
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 400px;
    grid-gap: 50px;
    margin-top: 30px;
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: white;
}
.num-1{
    margin-right: 20px;
    border: thin solid crimson;
    border-radius: 40px;
    width: 40px;
    height: 20px;
    text-align: center;
}
.num-1:hover {
   background-color:crimson;
}

.num-2{
    margin-right: 20px;
    border: thin solid crimson;
    border-radius: 40px;
    width: 40px;
    height: 20px;
    text-align: center;
}
.num-2:hover {
    background-color:crimson;
 }

.num-3{
    margin-right: 20px;
    border: thin solid crimson;
    border-radius: 40px;
    width: 40px;
    height: 20px;
    text-align: center;
}
.num-3:hover {
    background-color:crimson;
 }

.num-4{
    margin-right: 20px;
    border: thin solid crimson;
    border-radius: 40px;
    width: 40px;
    height: 20px;
    text-align: center;
}
.num-4:hover {
    background-color:crimson;
 }
 
.block-2 {
    background-color:rgb(125, 3, 3);
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    
}
p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-weight: 900;
    padding-top: 50px;
}

.registration-form {
    width: 300px;
    text-align: center;
  }

  .registration-form input {
    width: 210px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 80px;
    background-color:black;
    color: white;
    
  }

  .registration-form button {
    background-color: #1ad2c3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    width: 150px;
    margin-right: 80px;
  }

  .registration-form button:hover {
    background-color: #00ffff;
  }

  .section {
    background-color: rgb(125, 3, 3);
  }