.block_1 {
    background-color: black;
    color: white;
    height: 500px;
}
.text_1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    font-weight: 900;
    padding-top: 50px;
}
.stiker {
    margin-left: 140px;
    margin-top: 50px;
    display: flex;
}
.stik-1 {
    padding-right: 30px;
}

.stik-3 {
   padding-left: 30px;
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: white;
}
.num-1{
    margin-right: 20px;
    border: thin solid crimson;
    border-radius: 40px;
    width: 40px;
    height: 20px;
    text-align: center;
}
.num-2{
    margin-right: 20px;
    border: thin solid crimson;
    border-radius: 40px;
    width: 40px;
    height: 20px;
    text-align: center;
}
.num-3{
    margin-right: 20px;
    border: thin solid crimson;
    border-radius: 40px;
    width: 40px;
    height: 20px;
    text-align: center;
}
.num-4{
    margin-right: 20px;
    border: thin solid crimson;
    border-radius: 40px;
    width: 40px;
    height: 20px;
    text-align: center;
}
.block-2 {
    background-color:crimson;
    height: 300px;
    color: white;
}
.text-2 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    font-weight: 900;
    padding-top: 50px;
}